.user-profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-profile-inside-container{
  display: flex;
  width: 100%;
} 

.user-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
  border-bottom: 1px solid var(--border-color);
}

.original-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.user-name {
  color: var(--light-color);
}

.bio {
  width: 20rem;
  word-wrap: break-word;
}

.web-link {
  width: 20rem;
  word-wrap: break-word;
  text-decoration: underline;
  color: var(--secondary-color);
  cursor: pointer;
}

.followers-details {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

/* @media only screen and (min-width:900px){
  .suggestions-main-container{
    display: none;
  }
} */
