body{
  background-color: #fafafa;
}

:root{
  --primary-color:#2196f3;
  --secondary-color: #f73378;
  --text-color:rgb(56, 189, 248);
  --white-color:white;
  --background-color: #e6e1e1dd;
  --background-white:rgba(var(--d87, 255, 255, 255), 1);
  --border-color: #e2e8f0;
}

