body{
  background-color: #fafafa;
}

:root{
  --primary-color:rgb(14, 165, 233);
  --secondary-color: #f73378;
  --text-color:rgb(56, 189, 248);
  --white-color:white;
  --background-color: #fafafa;
  --background-white:rgba(var(--d87, 255, 255, 255), 1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
