.main-container {
  padding: 2rem;
}

.original-img {
  position: relative;
}

.small-img {
  position: absolute;
  top: 3.5rem;
  left: 29rem;
  width: 15.8rem;
  height: 34rem;
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}

.auth-container {
  background-color: var(--background-white);
  max-width: 50rem;
  width: 28rem;
  padding: 1rem;
}

input {
  background-color: var(--background-color);
}

.login-btn-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
}

.have-account:hover {
  color: var(--text-color);
}

/* Animation Effect */
@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home-img img:nth-of-type(2) {
  animation-delay: 4s;
}
.home-img img:nth-of-type(3) {
  animation-delay: 2s;
}
.home-img img:nth-of-type(4) {
  animation-delay: 0;
}

@media only screen and (max-width: 1300px) {
  .home-img {
    display: none;
  }
}
